.app-wrapper {
  padding-top: 70px;
}

.header {
  height: 70px;
  padding: 10px;
  background-color: #92b4c5;
  color: #fff;
}

header h1 {
  height: 100%;
}

header h1::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.favorite-station {
  color: blue;
}
